# Dependencies
node_modules/

# Logs
logs/
*.log

# Environment
.env
.env.*
.env.local

# Uploads / Media
uploads/
assets/

# Temp
.cache/
.tmp/
temp/

# Build
dist/
build/

# PM2
.pm2/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
